.navbar{
  background-color:rgb(73, 70, 70);
  border-bottom:2px solid rgb(56, 212, 218)
}
.icon-bar{
  background-color:white
}
.nav a{
  color:white!important;
}
.nav a:hover{
  background-color:rgb(116, 227, 231)!important
}
.nav a:active{
  color:red
}
#home{
  height:100vh;
  text-align:center;
  background-color:rgb(90, 88, 88);
  padding-top:200px;
  color:white;
  border-bottom:2px solid rgb(116, 227, 231)
}
#adigun{
  color:rgb(219, 63, 89)
}
#view{
  border:1px solid white;
  width:150px;
  margin:auto;
  padding:5px 10px!important
}
#abt{
  text-align:center
}
#about .glyphicon,#about .fa{
  background-color:rgb(56, 212, 218);
  color:white;
  padding:30px;
  border-radius:50%;
  text-align:center
}
#about h3{
  text-align:center
}
.me{
  width:250px;
  margin:auto;
}
.myimage{
  border-radius:50%
}
.mydesc{
  text-align:center
}
#prj{
  text-align:center
}
.prjimage{
  box-shadow:4px 4px 4px rgb(56, 56, 56);
  margin-bottom:20px
}
#project{
  background-color:rgb(240, 233, 233);
  padding-top:10px
}
#about{
  background-color:rgb(240, 233, 233);
  padding-top:20px;
  margin-top:-40px
}
.foot{
  background-color:rgb(73, 70, 70);
  padding-top:10px;
  padding-bottom:10px;
  text-align:center
}
#footer{
  color:white
}
.foot .fa{
  margin-left:10px;
  color:rgb(194, 192, 192)
}
#view a{
  color:white
}
#view a:hover{
  text-decoration: none
}
#adigun a{
  color:rgb(219, 63, 89)
}
#adigun a:hover{
  text-decoration:none
}
#about .glyphicon{
  margin:auto
}
.giphy,.weather,.kwikfood,.crypto{
  width:200px;
  margin:auto
}
#footer{
  color:rgb(194, 192, 192)
}
#project .prjimage:hover{
  transform:scale(1.1,1.1);
  z-index:2
}
#prj:hover,#abt:hover{
  text-decoration:underline
}
.icon{
  width:100px;
  margin:auto
}
.desc{
  width:150px;
  margin:auto;
  text-align:center
}
#about h3,.desc,#abt,#prj,.mydesc{
  color:rgb(105, 103, 103)
}
#contact .fa:hover{
  transform:scale(1.2,1.2)
}
#me1{
  animation-name:anim1;
  animation-duration:5s
}
@keyframes anim1{
  from{
    position:relative;
    left:-50vw
  }
  to{
    position:relative;
    left:0
  }
}
#me2{
  animation-name:anim2;
  animation-duration:5s
}
@keyframes anim2{
  from{
    position:relative;
    right:-50vw
  }
  to{
    position:relative;
    right:0
  }
}
